h3 {
  font-size: 20px;
  margin: 0;
}
h2 {
  font-size: 25px;
  margin: 0;
}
h1 {
  font-size: 30px;
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'lato', sans-serif;
  background: #333;
  color: #fff;
}
.buscador {
  width: 100%;
  height: 250px;
  padding: 100px;
  background-image: url("../resources/images/cover.jpg");
  background-size: cover;
  text-align: center;
}
@media (max-width: 480px) {
  .buscador {
    padding: 100px 30px;
  }
}
.buscador__input {
  width: 75%;
  height: 60px;
  padding: 20px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
}
@media (max-width: 650px) {
  .buscador__input {
    width: 100%;
  }
}
.encabezado--con-filtros {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
.encabezado--con-filtros h2 {
  margin: 10px auto;
  font-size: 50px;
  font-family: 'oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 55px;
}
@media (max-width: 460px) {
  .encabezado--con-filtros h2 {
    text-align: center;
  }
}
.encabezado--con-filtros .filtros {
  width: 250px;
  height: 75px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.6);
}
@media (max-width: 550px) {
  .encabezado--con-filtros .filtros {
    display: none;
  }
}
.encabezado--con-filtros .filtros span {
  font-family: 'oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 950px) {
  .encabezado--con-filtros .filtros span {
    display: block;
  }
}
.encabezado--con-filtros .filtros a {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}
.contenido {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  margin-bottom: 40px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.caja {
  margin: 30px auto;
  overflow: hidden;
  max-width: 400px;
  border-radius: 25px;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.6);
}
.caja__contenido {
  padding: 20px;
  min-height: 270px;
  background: #8841da;
}
.caja__contenido span {
  color: #012179;
  font-family: 'oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.caja__contenido h3 {
  font-family: 'oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.caja__contenido p {
  color: rgba(255,255,255,0.7);
}
.estadistica--articulos {
  height: 70px;
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,0.6);
}
.estadistica--articulos ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.estadistica--articulos ul li {
  list-style: none;
  color: rgba(255,255,255,0.4);
}
.estadistica--articulos ul span {
  margin-left: 10px;
}
