.contenido
    container()
    margin-bottom: 40px
    justify-content: space-evenly
    flex-wrap: wrap

.caja
    margin: 30px auto
    overflow hidden
    max-width 400px
    border-radius: 25px
    shadow()

    &__contenido
        padding: 20px
        min-height: 270px
        background: color-secundario
    
        span
            color: color-terciario
            titles(font2)
        
        h3
            titles(font2)

        p
            color opacity(color-claro, .7)