.encabezado--con-filtros
    container()

    h2
        margin: 10px auto 
        font-size: 50px
        titles(font2)

    .filtros
        width: 250px
        height 75px
        padding: 20px
        shadow()

        span 
            titles(font2)

        a
            margin-left: 20px
            font-size: 25px
            text-decoration: none
            color: color-claro