.encabezado--con-filtros
    container()

    h2
        margin: 10px auto 
        font-size: 50px
        titles(font2)
        line-height: 55px
        @media (max-width: 460px)
                text-align: center

    .filtros
        width: 250px
        height 75px
        padding: 20px
        text-align: center
        shadow()
        @media (max-width: 550px)
                display none

        span 
            titles(font2)
            @media (max-width: 950px)
                display block

        a
            margin-left: 20px
            font-size: 25px
            text-decoration: none
            color: color-claro