footer.footer
	.footer__container
		.logo.logo--footer: img(src="../../resources/images/logo--footer.svg")
		nav.nav--footer: ul
			li: a(href="#") Playstation
			li: a(href="#") Xbox
			li: a(href="#") Nintendo
			li: a(href="#") PC
			li: a(href="#") Mobile
		.nav--social: ul
			li Siguenos
			li: a(href="#"): i.fab.fa-instagram
			li: a(href="#"): i.fab.fa-pinterest
			li: a(href="#"): i.fab.fa-twitter
			li: a(href="#"): i.fab.fa-facebook-f
	.footer__copyright
		p © 2020 Derechos reservados CrissUD