header.header--principal
	.logo.logo--header: img(src="../../resources/images/logo--footer.svg")
	nav.nav--header: ul
		li: a.nav__link(href="http://localhost:8848/html/main/pagina-principal.html") Inicio
		li: a.nav__link(href="http://localhost:8848/html/profile/profile.html") Perfil
		li: a.nav__link(href="http://localhost:8848/html/article/articulo.html") Artículos
		li: a.nav__link(href="http://localhost:8848/html/search/searching.html") Búsquedas
		li: a.nav__link(href="#") Mobile
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Search
	.menu-btn
		button.button__menu
			figure
				img(src="../../resources/images/menu.png" alt="menu")