header.header--principal
	.logo.logo--header: img(src="../../resources/images/logo--footer.svg")
	nav.nav--header: ul
		li: a.nav__link(href="#") Playstation
		li: a.nav__link(href="#") Xbox
		li: a.nav__link(href="#") Nintendo
		li: a.nav__link(href="#") PC
		li: a.nav__link(href="#") Mobile
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Search