doctype html
html
	head
		title PlatziGames
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
		link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&display=swap" )
		link(rel='stylesheet', href='../../css/article.css')
		link(rel='stylesheet', href='../../css/profile.css')
		link(rel='stylesheet', href='../../css/searching.css')
		link(rel='stylesheet', href='../../css/platzi-games.css')
		script(src='https://kit.fontawesome.com/552ebddad2.js')
	body