.footer {
    height: 150px;
    margin-top: 30px;
    padding: 0 20px;
    background: $color-primario;
    @include shadow();

    &__container {
        display: flex;
    }
    &__copyright {
        margin-top: 25px;
        text-align: center;
        color: $color-claro;
        @include titles($font1);
    }
}

.logo.logo--footer {
    margin: auto;
}

.nav--footer ul {
    display: flex;
    padding-top: 20px;

    @media (max-width: 770px) {
        display: none;
    }

    li {
        list-style: none;
        margin-right: 50px;
    }
    a {
        text-decoration: none;
        color: $color-claro;
        @include titles($font2);
    }
}

.nav--social {
    margin-left: auto;

    @media (max-width: 770px) {
        display: none;
    }

    ul {
        display: flex;
        padding-top: 20px;
    }
    li {
        list-style: none;
        color: $color-claro;
        margin-right: 50px;
    }
    a {
        text-decoration: none;
        color: $color-claro;
        @include titles($font2);
    }
}

.footer__copyright {
    @media (max-width: 480px) {
        font-size: 12px;
    }
}