.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72%;
    height: 250px;
    margin: 10px auto;
    padding: 10px 15px;
    justify-content: space-evenly;
    @include box;

    @media (max-width: 1024px) {
        height: auto;
    }

    @media (max-width: 480px) {
        width: 85%;
    }

    &__fotos {
        text-align: center;
    }

    &__foto-principal {
        float: left;
        margin-top: 10px;
        margin-right: 10px;
        @media (max-width: 1024px) {
            float: none;
        }
    }
    &__fotos-adicionales {
        height: 70px;
        margin: 5px;
        @media (max-width: 1024px) {
            height: auto;
        }
    }
    h2 {
        margin-bottom: 10px;
        @include titles ($font2);
        font-size: 20px;
        font-weight: 600;
    }
    img {
        border-radius: 10px;
        margin-right: 5px;
    }
}