.contenedor--home {
    @include display-grid;
    max-width: 1300px;
    height: 1200px;
    margin: 30px auto;
    gap: 20px;
    @include grid-template-columns(1fr grid-repeat(3));
    @include grid-template-rows(1fr grid-repeat(3));

    @media (max-width: 1200px) {
        width: 85%;
        height: 100%;
        @include grid-template-columns(1fr grid-repeat(2));
        @include grid-template-rows(380px repeat(3, 300px));
    }

    @media (max-width: 770px) {
        width: 85%;
        height: 100%;
        @include grid-template-columns(1fr grid-repeat(1));
        @include grid-template-rows(380px repeat(4, 280px));
    }

    @media (max-width: 480px) {
        width: 85%;
        height: 100%;
        @include grid-template-columns(1fr);
        @include grid-template-rows(420px 280px 580px);
    }
}

.caja--con-fondo {
    display: block;
    position: relative;
    overflow: hidden;

    @media (max-width: 480px) {
        height: 280px;
    }

    img {
        display: block;
        width: 100%;
        position: absolute;
        opacity: .5;
        object-fit: cover;
        height: 100%;
    }
    &__contenido {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        text-align: center;
        span {
            margin: 10px auto;
            padding: 5px;
        }
        p {
            color: $color-claro;
            padding: 5px 20px;
            @media (max-width: 1080px) {
                display: none;
            }
        }
        h2 {
            color: get-opacity($color-claro, .7);
            @media (max-width: 1080px) {
                @include font-size(20px);
            }
        }
    }
    &__categoria {
        display: block;
        width: auto;
        max-width: 100px;
        margin: auto;
        text-align: center;
        background: $color-secundario;
        color: $color-claro;
        @include titles($font2);
    }
    &__stats {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        color: get-opacity($color-claro, .7);
        
        ul {
        display: flex;
        list-style: none;
        }

        li {
            margin-right: 20px;
        }
    }
}

.caja--grande {
    max-width: 1000px;
    max-height: 550px;
    @media (max-width: 480px) {
        height: 420px;
    }
    h2 {
        @include titles($font2);
        @include font-size(50px);
        @media (max-width: 1080px) {
            @include font-size(25px);
        }
        @media (max-width: 770px) {
            @include font-size(20px);
        }
    }
}

.caja--mediana {
    max-width: 600px;
    height: 100%;
}

.caja--pequeña {
    max-width: 300px;
    height: 250px;
}



@include media(desktop-s) {
    .caja--grande {
        @include grid-row(1, 3);
        @include grid-column(1, 4);
    }
    
    .caja-rdr2 {
        @include grid-row(1, 2);
        @include grid-column(4, 5);
    }
    
    .banner--homepage {
        @include grid-row(2, 4);
        @include grid-column(4, 5);
    }
    
    .sidebar--listado {
        @include grid-row(3, 5);
        @include grid-column(1, 2);
    }
    
    .caja-zelda {
        @include grid-row(3, 4);
        @include grid-column(2, 4);
    }
    
    .caja-ff {
        @include grid-row(4, 5);
        @include grid-column(2, 3);
    }
    
    .caja-fortnite {
        @include grid-row(4, 5);
        @include grid-column(3, 4);
    }
    
    .caja-xbox {
        @include grid-row(4, 5);
        @include grid-column(4, 5);
    }
}

@media (min-width: 770px) and (max-width: 1200px) {
    
    .caja--grande {
        @include grid-row(1, 2);
        @include grid-column(1, 3);
    }
    
    .caja-rdr2 {
        @include grid-row(2, 3);
        @include grid-column(1, 2);
    }

    .banner--homepage {
        @include grid-row(1, 3);
        @include grid-column(3, 4);
    }
    
    .sidebar--listado {
        @include grid-row(3, 5);
        @include grid-column(1, 2);
    }
    
    .caja-zelda {
        @include grid-row(3, 4);
        @include grid-column(2, 4);
    }
    
    .caja-ff {
        @include grid-row(2, 3);
        @include grid-column(2, 3);
    }
    
    .caja-fortnite {
        @include grid-row(4, 5);
        @include grid-column(2, 3);
    }
    
    .caja-xbox {
        @include grid-row(4, 5);
        @include grid-column(3, 4);
    }
}

@media (min-width: 480px) and (max-width: 770px) {
    
    .caja--grande {
        @include grid-row(1, 2);
        @include grid-column(1, 2);
    }
    
    .caja-rdr2 {
        @include grid-row(1, 2);
        @include grid-column(2, 3);
    }

    .banner--homepage {
        @include grid-row(2, 4);
        @include grid-column(1, 2);
    }
    
    .sidebar--listado {
        @include grid-row(4, 6);
        @include grid-column(2, 3);
    }
    
    .caja-zelda {
        @include grid-row(4, 5);
        @include grid-column(1, 2);
    }
    
    .caja-ff {
        @include grid-row(2, 3);
        @include grid-column(2, 3);
    }
    
    .caja-fortnite {
        @include grid-row(3, 4);
        @include grid-column(2, 3);
    }
    
    .caja-xbox {
        @include grid-row(5, 6);
        @include grid-column(1, 2);
    }
}
