.sidebar--listado {
  max-width: 300px;
  padding: 40px 20px;
  border-radius: 20px;
  @include shadow();

  @media (max-width: 480px) {
    justify-self: center;
  }

  h3 {
    @include font-size(20px);
    @include titles($font2);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 17px auto;
    padding: 17px 0;
    border-top: 1px solid get-opacity($color-claro, .4);
    list-style: none;
  }

  @media (min-width: 770px) and (max-width: 950px) {
    li:last-child {
      display: none;
    }
  }

  @media (min-width: 480px) and (max-width: 700px) {
    li:last-child {
      display: none;
    }
  }

  a {
    display: flex;
    padding: 17px 20px;
    text-decoration: none;
    color: $color-claro;

    @media (min-width: 770px) and (max-width: 950px) {
      padding: 5px 2px;
    }

    @media (min-width: 480px) and (max-width: 600px) {
      padding: 5px 2px;
    }
  }

  &__numero {
    color: get-opacity($color-claro, .2);
    margin-right: 15px;
  }
}