<!DOCTYPE html>
<html><!DOCTYPE html>
  <html>
    <head>
      <title>PlatziGames</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&amp;display=swap">
      <link rel="stylesheet" href="../../css/article.css">
      <link rel="stylesheet" href="../../css/profile.css">
      <link rel="stylesheet" href="../../css/searching.css">
      <link rel="stylesheet" href="../../css/platzi-games.css">
      <script src="https://kit.fontawesome.com/552ebddad2.js"></script>
    </head>
    <body></body>
  </html>
  <body>
    <header class="header--principal">
      <div class="logo logo--header"><img src="../../resources/images/logo--footer.svg"></div>
      <nav class="nav--header">
        <ul>
          <li><a class="nav__link" href="http://localhost:8848/html/main/pagina-principal.html">Inicio</a></li>
          <li><a class="nav__link" href="http://localhost:8848/html/profile/profile.html">Perfil</a></li>
          <li><a class="nav__link" href="http://localhost:8848/html/article/articulo.html">Artículos</a></li>
          <li><a class="nav__link" href="http://localhost:8848/html/search/searching.html">Búsquedas</a></li>
          <li><a class="nav__link" href="#">Mobile</a></li>
        </ul>
      </nav><a class="header__busqueda" href="#"><i class="fas fa-search"></i><span>Search</span></a>
      <div class="menu-btn">
        <button class="button__menu">
          <figure><img src="../../resources/images/menu.png" alt="menu"></figure>
        </button>
      </div>
    </header>
    <footer class="footer">
      <div class="footer__container">
        <div class="logo logo--footer"><img src="../../resources/images/logo--footer.svg"></div>
        <nav class="nav--footer">
          <ul>
            <li><a href="#">Playstation</a></li>
            <li><a href="#">Xbox</a></li>
            <li><a href="#">Nintendo</a></li>
            <li><a href="#">PC</a></li>
            <li><a href="#">Mobile</a></li>
          </ul>
        </nav>
        <div class="nav--social">
          <ul>
            <li>Siguenos</li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer__copyright">
        <p>© 2020 Derechos reservados CrissUD</p>
      </div>
    </footer>
    <script src="/js/app.js"></script>
  </body>
</html>